# RastreoPet 2024
/config/config.php
/var/log/error.log
/public/error_log
/public/static/img/locators/*
/public/static/img/pet/profile/*
.DS_Store
.idea/*
/app/lib/phpqrcode/*png-errors.txt
/app/lib/phpqrcode/cache/*
