/* font-face.css */
@font-face {
    font-family: 'Jomhuria1';
    src: url("../fonts/Jomhuria/Jomhuria-Regular.ttf?#iefix") format('truetype');
}

@font-face {
    font-family: 'Jost1';
    src: url('../fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}


